@model Data
<h1>EJERCICIO 4: Calculadora</h1>
<div class="">
    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        <div class="vl"></div>
        @Html.AntiForgeryToken()
        <div class="" style="margin: 5%">

            @Html.TextBoxFor(x => x.number1,
               new { @class = "form-control", placeholder = "Numero 1", type = "number" })
            @Html.ValidationMessageFor(x => x.number1, null, new { @class = "txt" })
            <br />
            <center>
                @Html.DropDownListFor(x => x.op,
                    new SelectList(Enum.GetValues(typeof(Data.Operacion))),
                    "Selecciona una operacion")
            </center>
            <br />
            <br />
            @Html.TextBoxFor(x => x.number2,
               new { @class = "form-control", placeholder = "Numero 2", type = "number" })
            @Html.ValidationMessageFor(x => x.number2, null, new { @class = "txt" })
            <br />

            <button class="btn btn-primary btn-lg btn-block" type="submit">
                Realizar Operacion
            </button>

        </div>

    }
    <table style="border:inset" class="table table-striped">
        <tr><td><h3>El resultado es: </h3>@ViewData["resultado"]</td></tr>
    </table>
</div>

<style>
    .vl {
        border-left: 6px solid black;
        height: 500px;
        position: absolute;
        left: 3%;
        margin-left: -3px;
        top: 9%;
    }
</style>